extends ../layout

block head
	script(src='/js/company.js')

block content
	input(type='hidden' value=''+company name='company')
	table(id='reservations').table
		h4 Reservations
		thead
			tr
				th #
				th Client
				th Date
				th Message
				th Status
				th Actions
		tbody
			each res, ind in reservations
				tr(id = '' + res._id)
					input(type='hidden' value='' + res._id)
					td 
						a(href='/reservations/?id=' + res._id)= ind
					td
						p= res.client.name || 'Client name'
					td
						p= res.date
					td
						p= res.message
					td
						#select-status-container
							select
								each option, ind in stList
									if res.status == ind
										option(value=''+ind selected='')= option
									else
										option(value=''+ind)= option
					td
						button.btn.btn-reply Update