extends ../layout

block head
	script(src='/js/validator.js')
	script(src='/js/reservation.js')
	script(src='https://www.google.com/recaptcha/api.js')
	//- script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/js/bootstrapValidator.js')


block content
	h4 Companies
	table(id='companies-table').table
		thead
			tr
				th Logo
				th Name
				th Address
				th Phone
			each company, ind in companies
				tr
					td 
						a(href=company.id) Logo
					td
						p= company.name
					td
						p= company.address
					td
						p= company.phone
						button.btn.btn-primary(data-toggle='modal' data-target='#exampleModal' data-companyid=company.id) Reserve table

	#exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel')
		.modal-dialog(role='document')
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') &times;
					h4#exampleModalLabel.modal-title Reserve
				.modal-body
					//- data-toggle='validator',
					form#form-reserve(role='form', action='/reservation/create', method='post', target='_self')
						.row
							.form-group
								.col-xs-4
									label.control-label(for='date') Date
									input#date(type='date' name='date').form-control
								.col-xs-4
									label.control-label(for='time') Time
									input#time(type='time' name='time').form-control
								.col-xs-4
									label.control-label(for='persons') Persons
									input#persons(type='number' name='persons').form-control
						.row
							.form-group
								.col-xs-4
									label.control-label(for='phone') Phone
									input#phone(type='tel' name='phone' pattern='+79[0-9]{9}').form-control
								.col-xs-6.col-xs-offset-2
									label.control-label(for='email') Email
									input#phone(type='email' name='email').form-control
						.row
							.form-group
								.col-xs-12
									label.control-label(for='message-text') Message:
									textarea#message-text.form-control
						.form-group
							input(type='hidden' name='companyid')
						.form-group.has-error.has-danger
							div#captcha.g-recaptcha(data-sitekey='6LfxJx0TAAAAAMbSqaY6GGMQfqgR0a6PZFwWTva6')
						.form-group
							h4
								span#message.label-danger
						.form-group
							button.btn.btn-primary(type='submit') Submit
				.modal-footer
					button.btn.btn-default(type='button', data-dismiss='modal') Close
					button#btn-reserve.btn.btn-primary(type='button') Send message

